.root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label {
  font-weight: bold;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--fg-s-color);
  outline: none;

  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;

  padding: 1rem;
  height: 2rem;
  aspect-ratio: 1/1;
  color: var(--font-color);
  border-radius: var(--border-radius);
  font-size: 2rem;

  transition: all 250ms;
}

.input:focus {
  border-color: var(--tint-color);
}

.input:disabled {
  filter: brightness(0.5);
}