.root {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.error {
  font-size: small;
  color: var(--tint-color);
  font-weight: bold;
}

.logo {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: var(--fg-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  width: clamp(1rem, 90%, 25rem);
  box-shadow: -1rem 1rem var(--fg-s-color);
}

@media only screen and (max-width: 800px) {
  .block {
    background-color: transparent;
    box-shadow: none;
  }
}
