.root {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
}

.input_div {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--fg-s-color);
  color: var(--fg-font-color);
  outline: none;
  height: 1.75rem;

  border-style: solid;
  border-color: transparent;
  border-width: 0.1rem;

  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: 1rem;

  transition: all 250ms;
}

.input_div:focus-within {
  border-color: var(--tint-color);
}

.input {
  background-color: transparent;
  color: var(--fg-font-color);
  border: none;
  outline: none;
  font-size: 1rem;
  width: 80%;
}

.icon {
  cursor: pointer;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}