.root {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  background-color: var(--font-color);
  color: var(--bg-color);
  margin-top: 1rem;
  font-size: large;
  font-weight: bolder;
  align-self: flex-end;
  width: 25%;
  padding: 1rem;


  transition: all 250ms;
  border: none;
}

.root:disabled {
  filter: brightness(0.5);
}

.root:enabled:hover {
  transform: scale(1.05);
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--tint-color);
  cursor: pointer;
}

.root:enabled:active {
  transform: scale(0.975);
}

