.root {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--fg-color);
  color: var(--fg-font-color);

  padding: clamp(1rem, 7.5vw, 2.5rem);
  aspect-ratio: 1/1;

  border-style: none;
  border-radius: 1rem;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem var(--fg-s-color);

  font-size: xx-large;

  margin-bottom: 1rem;
  margin: 0.5rem;

  transition: all 250ms;
}

.root:enabled {
  cursor: pointer;
}

.root:enabled:hover {
  filter: brightness(1.01);

  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem var(--fg-s-color);
}

.root:enabled:active {
  box-shadow: 0 0 var(--fg-s-color);
  transform: translateY(0);
}

.root:disabled {
  filter: brightness(0.85);
  transform: translateY(0);
  box-shadow: 0 0 var(--fg-s-color);
}

.icon {
  font-size: clamp(1rem, 15vw,xx-large);
  transform: scale(1.75);
}
