.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back {
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 0.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}